.data0.chart-bar { -fx-bar-fill: #6929c4; }
.data1.chart-bar { -fx-bar-fill: #1192e8; }
.data2.chart-bar { -fx-bar-fill: #005d5d; }
.data3.chart-bar { -fx-bar-fill: #9f1853; }
.data4.chart-bar { -fx-bar-fill: #fa4d56; }
.data5.chart-bar { -fx-bar-fill: #570408; }
.data6.chart-bar { -fx-bar-fill: #198038; }
.data7.chart-bar { -fx-bar-fill: #002d9c; }
.data8.chart-bar { -fx-bar-fill: #ee538b; }
.data9.chart-bar { -fx-bar-fill: #b28600; }
.data10.chart-bar { -fx-bar-fill: #009d9a; }
.data11.chart-bar { -fx-bar-fill: #012749; }
.data12.chart-bar { -fx-bar-fill: #8a3800; }
.data13.chart-bar { -fx-bar-fill: #a56eff; }


.default-color0.chart-pie { -fx-pie-color: #6929c4; }
.default-color1.chart-pie { -fx-pie-color: #1192e8; }
.default-color2.chart-pie { -fx-pie-color: #005d5d; }
.default-color3.chart-pie { -fx-pie-color: #9f1853; }
.default-color4.chart-pie { -fx-pie-color: #fa4d56; }
.default-color5.chart-pie { -fx-pie-color: #570408; }
.default-color6.chart-pie { -fx-pie-color: #198038; }
.default-color7.chart-pie { -fx-pie-color: #002d9c; }
.default-color8.chart-pie { -fx-pie-color: #ee538b; }
.default-color9.chart-pie { -fx-pie-color: #b28600; }
.default-color10.chart-pie { -fx-pie-color: #009d9a; }
.default-color11.chart-pie { -fx-pie-color: #012749; }
.default-color12.chart-pie { -fx-pie-color: #8a3800; }
.default-color13.chart-pie { -fx-pie-color: #a56eff; }

.table-view {
    background-color: -fx-background;
    -fx-background-color: transparent;
}

.table-view .column-header {
    background-color: -fx-background;
    -fx-background-color: #a3c78e;
}

.table-view .table-cell {
    background-color: -fx-background;
    -fx-background-color: #dfe9da;
}

/* Base font size */
.root { font-size: 0; -fx-font-size: 12px;}
.table-cell { font-size: 0; -fx-font-size: 1.2em}
.text-field { font-size: 0; -fx-font-size: 1.2em}
.menu-button { font-size: 0; -fx-font-size: 1.2em}
.button { font-size: 0; -fx-font-size: 1.2em}

/* Main page side bar */
#menuTitle { font-size: 0; -fx-font-size: 2.5em}

/* dashboard page elements */
#transactionsTableTitle { font-size: 0; -fx-font-size: 1.7em}
#categoryAxis { font-size: 0;  -fx-tick-label-font-size: 1em} /*bar chart X-axis" */
#flatAmountSpent { font-size: 0; -fx-font-size: 1.3em; -fx-text-alignment: CENTER; -fx-wrap-text: true; }
#percentAmountSpent { font-size: 0; -fx-font-size: 1.3em; -fx-text-alignment: CENTER; -fx-wrap-text: true; }
#daysLeft { font-size: 0; -fx-font-size: 1.3em; -fx-text-alignment: CENTER; -fx-wrap-text: true; }

/* expense page elements */
#total { font-size: 0; -fx-font-size: 1.8em}
